<form name="editForm" id="edit" ng-controller="EditController" ng-submit="edit()">
   
      <div class="col-md-6">
        <h3 class="dark-grey">Edit a Ticket</h3>
        
        <div class="form-group col-lg-12">
          <label>Title</label>
          <input type="text" name="" class="form-control" ng-model="IssueTickets.title" id="title" value="" required>
        </div>

         <div class="form-group col-lg-12">
          <label>Reporter</label>
          <input type="text" name="reporter" class="form-control" ng-model="IssueTickets.reporter" id="reporter" value="" required>
        </div>
        
        <div class="form-group col-lg-6">
          <label>Severity</label>
          <select class="form-control" ng-model="IssueTickets.severity"required>
            <option value="critical" >Critical</option>
            <option value="major">Major</option>
            <option value="minor">Minor</option>
          </select>
        </div>
        
        <div class="form-group col-lg-6">
          <label>Assign to</label>
          <select class="form-control" ng-model="IssueTickets.assignee" required>
            <option value="Developer" selected="selected">Developer</option>
            <option value="Testing">Testing</option>
            <option value="System">System</option>
          </select>
        </div>

        <div class="form-group col-lg-6">
          <label> State </label>
          <select class="form-control" ng-model="IssueTickets.state" required>
            <option value="Open" selected> Open </option> 
            <option value="In Progress">In Progress</option>
            <option value="closed">Closed</option>
          </select>
        </div>
                
        <div class="form-group col-lg-6">
        <label>Description of issue</label>

        <textarea class="form-control" style="width:600px;height:150px;" ng-model="IssueTickets.description" placeholder="Enter description">
        </textarea>

        </div>  

        <div class="form-group col-lg-12">
          <button type="submit" id="submit"  class="btn btn-default">Submit</button>      
        </div> 

      </div>
    </form>